<div class="parent">
  <h3 ></h3>
</div>
<div  class="card flex justify-content-center">
  <app-child *ngFor="let card of cards" >
     <p-card class="card" [header]='card.title'  [style]="{ width: '360px' }">
      <div *ngFor="let data of card.tableHeaders">
          <li>{{data}}</li>
      </div>
    <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
            <p-button (click)="onClick(card)" label="Show" class="w-full" styleClass="w-full" />
        </div>
    </ng-template>
</p-card>

</app-child>
<div *ngIf="setValue" class="card">
  <h1>This is rishabh working with neeeeeerajjjjj donnnnnnnnnnnn</h1>
</div>
<div>
  <table>
    <thead>
      <th>
    </thead>
  </table>
</div>

</div>
