<div class="container mt-5">
  <div class="card p-4 shadow-sm">
    <h2 class="text-center mb-4">Login Form</h2>

    <form [formGroup]="registrationForm" (ngSubmit)="onLogin()" class="row g-3">

      <!-- Username Field -->
      <div class="col-md-6 mb-3">
        <label for="userName" class="form-label">Username</label>
        <input
          [class.is-invalid]="registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched"
          formControlName="userName" type="text" id="userName" class="form-control">
        <small [class.d-none]="registrationForm.get('userName')?.valid || registrationForm.get('userName')?.untouched"
          class="text-danger">
          Username is required
        </small>
      </div>

      <!-- Password Field -->
      <div class="col-md-6 mb-3">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" type="password" id="password" class="form-control">
        <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
          <small *ngIf="registrationForm.get('password')?.errors?.['required']" class="text-danger">
            Password is required
          </small>
          <small *ngIf="registrationForm.get('password')?.errors?.['minlength']" class="text-danger">
            Password must be at least 4 characters long
          </small>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary w-50" [disabled]="registrationForm.invalid">Login</button>
      </div>

    </form>
  </div>
</div>